<h2>What is an engineer</h2>
<p>In August of 2016, I began my college adventures at Virginia Tech. I had applied into computer science, and would be in the College of Engineering. I was fortunate enough to be able to live in the Galileo living-learning community, which is the male counterpart of a duo of engineering dorms. While living in Galileo, we did a project about what we think an engineer is - including typical skills of an engineer, our relevant personal experiences, and how each relate. This is the video that I made.</p>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/4diswjI7jWo" frameborder="0" allowfullscreen></iframe></p>